* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    color: white;

}

.asap {
    font-family: "Asap", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inconsolata {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.maven {
    font-family: "Maven Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}